<!DOCTYPE html>
<html lang="MX">
<head>
    <meta author="Yo mero vandolero">
    <meta description = "Es una pagina de prueba">
    <meta charset="UTF-8">
    <meta keywords ="El papu de papus">
    <meta charset="UTF-8">
    <meta>
    <title>Title</title>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/styles.css" type="text/css">


<div class="grid-container">
    <h2>Otros medios que me han gustado</h2>
<p>Proxima pagina en progreso</p>
<img src="./static/images/photo_2021-03-17_01-03-29.jpg">
<p>Cine/Libros/Comics/etc</p>
<p><strong>Notoa: Agregar links</strong> Reseña?</p>


  <div class="header">
    <h2></h2>
  </div>

  <div class="left" style="background-color:#101010;">Cine</div>
  <div class="middle" style="background-color:#191919;">Libros</div>
  <div class="right" style="background-color:#202020;">Comics</div>

  <div class="footer">
  <p></p>
  </div>
</div>

</head>
<body>

</body>
</html>