<!DOCTYPE html>
<html lang="es-MX">
<head>

    <meta author="Yo mero vandolero">
    <meta description = "Es una pagina de prueba">
    <meta charset="UTF-8">
    <meta keywords ="El papu de papus">
    <title>5:00</title>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        *{
            margin: 0;
            padding: 0;


        }
        div,header,section,article,fotter{
        display block;
        }
        body{
            text-align: center;
            background-color: black;
        }
        .agrupar{
            width=96%;
            margin: 15px auto;

        }
        .encabezado{
        display: block;
        font: 25px;
        width:100%;
        height:70%;
        color: #D3D3D3;
        }
        .encabezado img{
              width: 400px;
              height: 200px;
        }
        .menu{
        background-color: #050505;
        width:100%;
        height:100%;
        list-style:none;
        text-align: center;
        }
        .menu li{
          display: inline-block;
          font: bold 14px;
          color: #D3D3D3;
          padding: 10px;



        }
        .menu li a{
        color: #F6F395;
        }


        .cont_seccion{
        text-align: center;
        width: 100%;
        color: #D3D3D3;
        }
        .cont_seccion section{

        display: inline-block;
        margin: 50px;
        }
        .cont_seccion article{
        margin: 50px;
        width: 100%;
        color: #D3D3D3;
        font: 15px;
        }
        .cont_seccion img{
        width=300px;
        height:300px;
        margin: 15px auto;
        }
        .Titulo1{
        color: #F23A4E;
        text-align: center;
        font: 20px;
        }


        .pie{
        color: #F6F395;
        width: 100%;
        hight: 50px;

    </style>
    <script></script>

    </head>
                    <body>

                            <div class ="agrupar">

                    <div class = "encabezado">

                    <header>
                        <img src="./static/images/drain.jpg">
                    </header>

                    </div>
                                <div class ="menu">
                                <nav>
                                    <ul>
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Acerca de mi</a></li>
                                        <li><a href="/formulario">Formulario</a></li>
                                        <li><a href="/rejilla">Rejilla_Html</a></li>
                                    </ul>
                                </nav>
                                </div>
                    </div>

                            <div class="Titulo1">
                    <h1> Mejores albums que he escuchado </h1>
                                </div>


                            <div class ="cont_seccion">
                        <section>
                        <article>
                    <h2> Aphex Twin - Select Ambient Works 85-92</h2>
                            <img src="./static/images/photo_2021-03-17_01-03-29.jpg">
                            <p>Genero: Ambient Techno </p>
                            <p>Año: 1992</p>
                            <p>Descripcion: Atmosferico, Eterno, Futuristico, Instrumental</p>
                            </article>


                    </section>

                                <section>
                                        <article>
                                             <h2> Madvillain - Madvillainy</h2>
                                             <img src="./static/images/madvillainy_gg.jpg">
                                             <p>Genero: Abstract Hip Hop </p>
                                             <p>Año: 2004</p>
                                             <p>Descripcion: Humoristico, Criptico, Surreal, Psicodelico</p>
                                        </article>
                                </section>

                        <section>
                        <article>
                    <h2> Frank Zappa - Hot Rats</h2>
                            <img src="./static/images/hot_rats.jpg">
                            <p>Genero: Jazz Rock </p>
                            <p>Año: 1969</p>
                            <p>Descripcion: Complejo, Energrtico, Tecnico, Progresivo</p>
                            </article>


                    </section>

                                <section>
                                        <article>
                                             <h2> Weyes Blood - Titanic Rising</h2>
                                             <img src="./static/images/titanic.jpg">
                                             <p>Genero: Baroque pop/Dream pop</p>
                                             <p>Año: 2019</p>
                                             <p>Descripcion: Eterno, Melancolico, Romantico, Calido</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Clarence Clarity - Not Now</h2>
                                             <img src="./static/images/no_now.jpg">
                                             <p>Genero: Glich pop, Alternative R&B</p>
                                             <p>Año: 2015</p>
                                             <p>Descripcion: Futurista, Caotico, Surreal, Ancioso, Anti-religioso</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> John Coltrane - A Love Supreme</h2>
                                             <img src="./static/images/love_sup.jpg">
                                             <p>Genero: Spiritual Jazz</p>
                                             <p>Año: 2019</p>
                                             <p>Descripcion: Pasional, Avant-garde, Meditativo, Religioso, Tecnico</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Queens of the Stone Age - Songs for the Deaf</h2>
                                             <img src="./static/images/deaf.jpg">
                                             <p>Genero: Stoner Rock</p>
                                             <p>Año: 2002</p>
                                             <p>Descripcion: Energetico, Psicodelico, Rebelde, Hedonista, Calido</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Swans - Soundtracks for the Blind</h2>
                                             <img src="./static/images/blind.jpg">
                                             <p>Genero: Experimental/Experimental Rock, Post-Rock</p>
                                             <p>Año: 1996</p>
                                             <p>Descripcion: Ominoso, Eterno, Obscuro, Solitario, Nihilista, Frio, Criptico, Avant-garde</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> David Bowie - "Heroes" </h2>
                                             <img src="./static/images/heroes.jpg">
                                             <p>Genero: Art Rock, Ambient</p>
                                             <p>Año: 1977</p>
                                             <p>Descripcion: Futurista, Pasional, Nocturno, Frio, Complejo, Progresivo</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Dorian Electra - Flamboyant</h2>
                                             <img src="./static/images/flamboyant.jpg">
                                             <p>Genero: Bubblegum Bass/Hyperpop</p>
                                             <p>Año: 2019</p>
                                             <p>Descripcion: LGBT, Androgino, Rebelde, Sexual, Sensual, Futurista, Pasional</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Bob Dylan - Bringing It All Back Home</h2>
                                             <img src="./static/images/dylan.jpg">
                                             <p>Genero: Folk Rock</p>
                                             <p>Año: 1965</p>
                                             <p>Descripcion: Sarcastico, Politico, Poetico, Humoristico</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> The Rolling Stones - Sticky Fingers</h2>
                                             <img src="./static/images/sticky_fingers.jpg">
                                             <p>Genero: Blues Rock</p>
                                             <p>Año: 1971</p>
                                             <p>Descripcion: Energetico, Sexual, Rebelde, Crudo, Triste, Hedonista</p>
                                        </article>
                                </section>

                                <section>
                                        <article>
                                             <h2> Lingua Ignota - Caligula</h2>
                                             <img src="./static/images/caligula.jpg">
                                             <p>Genero: Neoclassical Darkwave, Death Industrial</p>
                                             <p>Año: 2019</p>
                                             <p>Descripcion: Ruidoso, Omonimo, Sombrio, Agresivo, Epico, Apocaliptico, Infernal, Sombrio</p>
                                        </article>
                                </section>


                            </div>



                    <div class = "pie">
                        <footer>
                            <p>Universidad de Basados</p>
                        </footer>
                        </div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
                    </body>
</html>